/* WMD version of CSS for WW-generated HTML conventions */

/* source listings with filename attached as legend */
fieldset.ww-project-file-source
  { border:1px dashed #2f6fab; }
fieldset.ww-project-file-source legend
  { font-size:85%; padding:5px 2px 5px 2px; }

/* the site's css puts this bottom margin on various elements to maintain
 * the "vertical rhythm".  We want it on some more elements that we use as well.
 */
table, fieldset
  { margin-bottom:15px; }

/* the big margin-bottom on the pre doesn't look right when it's in our fieldset */
fieldset.ww-project-file-source pre
  { margin-bottom:6px; }
